{% extends "forum/base.html" %}
{% block content %}
<h1>About this Forum!</h1>
<p>Thanks for checking out</p>
<div class="art-PostContent" style="font-weight: bold; color:white">


<p align="justify"><b>The RJIT </b>Technical Discussion Forum is a discussion forum that gives a platform to get all information about various programming languages, general knowledge related questions, information related to Asp.net,Vb.net,Php,Os related questions ,etc. </p>

<p align="justify">This forum is useful for the beginners to get information  related to  various topics. There is a centralized database in which all the information is managed. The administrator acts as the highest authority and has the rights to update the database. There are also connected user who acts as an intermediate user who can also answer the questions of the end-user if they know it. The intermediate user can also cache the information provided by the administrator to the end-user. This cached information is useful when the same question is repeated some another user , then the intermediate user can get the information from cache memory and reply to the end-user. This reduces the response time.</p>

<p align="justify">Whenever a question is asked by the end-user to get information ,it is received by the administrator who fetches the information from the database and reply to the end-user. Whenever the new information is arrived it is updated by the end-user. The end-user is provided with the access rights which is  managed by the administrator. The access to the database is provided to the end-user according to these rights only.</p>

    <p align="justify">The technological discussion form gives specific information to the programmers about programming languages.It is also helpful for the beginners to gain information about programming languages from the same site only.It is very useful site for the beginners to gain information as well as learn new programming languages very easily.The goal of this site is to provide information about the technical related questions and language related questions to the end user.</p>
<p align="justify">When the user asks the answer of the questions is replied by either the administrator or the admin-connected user.When the administrator replies to the questions the admin-connected user will cache them in the memory.This will  helpful when the user again ask about the same questions the admin-connected will the  reply the answer of the question directly from the cache-memory
</p>




</div>
<div class="cleared"></div>
{% endblock %}
